In [135]:
import pandas as pd
pd.options.mode.copy_on_write = True

In [136]:
df = pd.read_csv("/home/mohammadp/RenewableInsight/data/2024_03_ActualTotalLoad_6.1.A.csv",delimiter="\t")

In [137]:
df.columns

Index(['DateTime', 'ResolutionCode', 'AreaCode', 'AreaTypeCode', 'AreaName',
       'MapCode', 'TotalLoadValue', 'UpdateTime'],
      dtype='object')

In [138]:
df.head(5)

,DateTime,ResolutionCode,AreaCode,AreaTypeCode,AreaName,MapCode,TotalLoadValue,UpdateTime
0,2024-03-10 22:00:00.000,PT15M,10YDE-ENBW-----N,CTA,DE(TransnetBW) CTA,DE_TransnetBW,6133.87,2024-03-10 23:31:05.005
1,2024-03-10 21:30:00.000,PT15M,10YHR-HEP------M,CTA,HR CTA,HR,1968.00,2024-03-11 10:46:36.036
2,2024-03-10 21:30:00.000,PT15M,10YHR-HEP------M,BZN,HR BZN,HR,1968.00,2024-03-11 11:01:53.053
3,2024-03-10 22:00:00.000,PT15M,10YRO-TEL------P,BZN,RO BZN,RO,5383.00,2024-03-10 23:31:08.008
4,2024-03-10 21:00:00.000,PT60M,10YCS-SERBIATSOV,CTA,RS CTA,RS,4086.00,2024-03-11 08:02:18.018

In [149]:
[mapcode for mapcode in df.MapCode.unique() if mapcode[:2]=='DE']

['DE_TransnetBW', 'DE_Amprion', 'DE', 'DE_50HzT', 'DE_TenneT_GER', 'DE_LU']

In [139]:
df_DE = df[df.MapCode.isin([mapcode for mapcode in df.MapCode.unique() if mapcode[:2]=='DE'])]

In [140]:
df_DE['DateTime'] = pd.to_datetime(df_DE.DateTime,format='%Y-%m-%d %H:%M:%S.%f')

In [141]:
df_DE.loc[:,'DateTime'] = pd.to_datetime(df_DE.DateTime,format='%Y-%m-%d %H:%M:%S.%f')

In [142]:
df_DE.loc[:,'Day'] = df_DE.DateTime.dt.day
df_DE.loc[:,'Month'] = df_DE.DateTime.dt.month
df_DE.loc[:,'Year'] = df_DE.DateTime.dt.year
df_DE.loc[:,'Hour'] = df_DE.DateTime.dt.hour
df_DE.loc[:,'Minute'] = df_DE.DateTime.dt.minute

In [143]:
df_DE.Day.unique().shape

(27,)

In [144]:
df_DE.Month.unique()

array([3], dtype=int32)

In [145]:
df_DE.head(5)

,DateTime,ResolutionCode,AreaCode,AreaTypeCode,AreaName,MapCode,TotalLoadValue,UpdateTime,Day,Month,Year,Hour,Minute
0,2024-03-10 22:00:00,PT15M,10YDE-ENBW-----N,CTA,DE(TransnetBW) CTA,DE_TransnetBW,6133.87,2024-03-10 23:31:05.005,10,3,2024,22,0
12,2024-03-10 22:15:00,PT15M,10YDE-ENBW-----N,CTA,DE(TransnetBW) CTA,DE_TransnetBW,6003.32,2024-03-10 23:46:13.013,10,3,2024,22,15
17,2024-03-10 22:15:00,PT15M,10YDE-RWENET---I,CTA,DE(Amprion) CTA,DE_Amprion,16640.27,2024-03-11 18:17:01.001,10,3,2024,22,15
23,2024-03-10 22:00:00,PT15M,10Y1001A1001A83F,CTY,DE CTY,DE,46343.59,2024-03-11 18:31:54.054,10,3,2024,22,0
24,2024-03-10 22:30:00,PT15M,10YDE-ENBW-----N,CTA,DE(TransnetBW) CTA,DE_TransnetBW,5857.35,2024-03-11 00:01:47.047,10,3,2024,22,30

In [148]:
df_DE.groupby(by=['Day','Month','Year','Hour','Minute'])[['TotalLoadValue']].sum().reset_index()

      Day  Month  Year  Hour  Minute  TotalLoadValue
0       1      3  2024     0       0       137926.87
1       1      3  2024     0      15       137073.28
2       1      3  2024     0      30       134620.06
3       1      3  2024     0      45       132664.41
4       1      3  2024     1       0       132741.73
...   ...    ...   ...   ...     ...             ...
2538   27      3  2024    10      30       123285.46
2539   27      3  2024    10      45       123111.16
2540   27      3  2024    11       0       122853.92
2541   27      3  2024    11      15        46844.99
2542   27      3  2024    11      30        46865.37

[2543 rows x 6 columns]